<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>지점 추가 - ZooZoo Bank</title>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- 다크 모드 스타일 -->
    <link rel="stylesheet" th:href="@{/path/to/dark-mode-style.css}">

</head>
<body class="bg-dark text-light">

<div class="container mt-5">
    <h1 class="text-light">지점 추가</h1>
    <br><br>
    <form th:action="@{/bankbranch/create}" method="post">
        <div class="form-group">
            <label for="assets">자산</label>
            <input type="number" class="form-control" id="assets" name="assets" style="width: 350px" required>
        </div>
        <div class="form-group">
            <label for="branchName">지점 이름</label>
            <input type="text" class="form-control" id="branchName" name="branchName" style="width: 350px" required>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">추가</button>
        <a href="/bankbranch/all" class="btn btn-secondary">뒤로 가기</a>
    </form>
</div>

<!-- 부트스트랩 및 관련 자바스크립트 파일들을 포함 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIEX8r8RiStf+3wb8F/QpUJzoEa0pfeJ4u6Qs1TK1qU5PqnpvprU"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
